body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: fadeInBody 1s ease-in-out;
}

@keyframes fadeInBody {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeInContainer 0.5s ease-in-out;
}


.container1 {
    width: 700px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeInContainer 0.5s ease-in-out;
}

@keyframes fadeInContainer {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    animation: fadeInTitle 0.5s ease-in-out;
}

@keyframes fadeInTitle {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

form {
    display: flex;
    flex-direction: column;
    animation: fadeInForm 0.5s ease-in-out;
}

@keyframes fadeInForm {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

input[type="text"],
select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: all 0.3s ease;
    animation: fadeInInput 0.5s ease-in-out;
}

@keyframes fadeInInput {
    from {
        transform: translateX(-20px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

input[type="text"]:focus,
select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    padding: 10px 20px;
    background: #007BFF;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation: fadeInButton 0.5s ease-in-out;
}

@keyframes fadeInButton {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

button:hover {
    background: #0056b3;
    transform: translateY(-2px);
}

.thumbnail {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    animation: fadeInThumbnail 0.5s ease-in-out;
}

@keyframes fadeInThumbnail {
    from {
        transform: scale(0.95);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.thumbnail:hover {
    transform: scale(1.05);
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation: fadeInLinkButton 0.5s ease-in-out;
}

@keyframes fadeInLinkButton {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

a.button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

#pleaseWaitMessage {
    display: none;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    animation: fadeInPleaseWait 0.5s ease-in-out forwards;
}

@keyframes fadeInPleaseWait {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#progressContainer {
    margin-top: 20px;
}

#progressBar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 10px;
    animation: fadeInProgressBar 0.5s ease-in-out;
}

@keyframes fadeInProgressBar {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#progressBarFill {
    height: 25px;
    width: 0;
    background-color: #007BFF;
    border-radius: 25px;
    transition: width 0.2s;
}

#progressPercentage {
    font-size: 16px;
}